:root{
    /* Colors */
    /* primary */
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-cyan: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(277, 10%, 46%);
    /* neutral */
    --dark-gray: hsl(0, 0%, 59%);
    --white: hsl(0, 0%, 100%);
    /* Typography */
    --typography: 'Kumbh Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
picture, img{
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;        
    object-position: center center;
}
li{
    list-style-type: none;
}
html{
    scroll-behavior: smooth;
}
h1, span, p{
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color:inherit;
    font-weight: 400;
}
blockquote:before, blockquote:after, q:before, q:after{
	content: '';
	content: none;
}
body{
    background-color: var(--dark-cyan);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 18px;
    font-family: var(--typography);
    line-height: .8;
    hyphens: none;
    margin: 1rem;
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -22vw -31vw, 52vw 31vw;
}
.main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0px 10px 25px 10px hsla(185, 75%, 21%, 0.207);
}
.main picture:first-of-type img{
    height: 10.7rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.main__pic{
    width: 8.2rem;
    transform: translate(0, -4rem);
}
.main__pic img{
    border-radius: 50%;
    border: .350rem solid white;
}
.main h1{
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--very-dark-cyan);
    white-space: nowrap;
    margin-top: -2.2rem;
}
.main h1 span{
    margin-left: .8rem;
    color: var(--dark-grayish-blue);
}
.main__p{
    color: var(--dark-grayish-blue);
    margin: 1.2rem 0 2.1rem 0;
}
.main ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid hsl(0, 1%, 85%);
    padding: 0 2.1rem;
}
.main ul li{
    width: 6rem;
    margin: 2.1rem  0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__ul-p{
    font-weight: 700;
    color: var(--very-dark-cyan);
    font-size: 1.4rem;
}
.main__ul-p span{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.4rem;
}
.main__ul-p2{
    color: var(--dark-grayish-blue);
    text-align: center;
    font-size: .7rem;
    letter-spacing: .150rem;
    margin-top: .8rem;
}