:root{
    --typography: 'Karla', sans-serif;
    /* Colors  Primary*/
    --cyan: hsl(179, 62%, 43%);
    --cyan-modified: hsl(179, 47%, 52%);
    --cyan-modified-2: hsl(212, 45%, 94%);
    --bright-yellow: hsl(71, 73%, 54%);
    /* Colors Neutral */
    --light-gray: hsl(284, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
    --white: hsl(0, 0%, 100%);
    --white-modified: rgba(255, 255, 255, 0.500);
}
/* Reset */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
html{
    scroll-behavior: smooth;
}
h1 , h2 , h3, p ,span{
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color:inherit;
    white-space: nowrap;
}
button{
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    color:inherit;
    display: block;
}
/* Reset */

body{
    min-height: 100vh;
    font-size: 16px;
    font-family : var(--typography);
    background-color: var(--cyan-modified-2);
}
#main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.034);
}
/* DIV*/
div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2.5rem;
    min-width: max-content;
}
#div1{
    width: 40rem;
}
#div1 h1{
    color: var(--cyan);
    font-weight: 700;
    font-size: 1.330rem;
}
#div1 span{
    color: var(--bright-yellow);
    font-weight: 700;
    margin: 1rem 0 .6rem 0;
}
#div1 p{
    color: var(--grayish-blue);
    line-height: 1.450rem;
    font-size: 1rem;
}
/* SECTION DIV's */
#section{
    display: flex;
    flex-direction: row;
    color: var(--light-gray);
}
#section div{
    width: 50%;
}
#div2{
    background-color: var(--cyan);
}
#div2 h2{
    color: var(--light-gray);
    font-size: 1rem;
    font-weight: 700;
}
#div2 p:first-of-type{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0 .5rem 0;
}
#div2 p:first-of-type span:last-of-type{
    font-size: 1rem;
    margin-left: .5rem;
    font-weight: normal;
    color: var(--white-modified);
}
#div2 p span{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
}
#div2 button{
    background-color: var(--bright-yellow);
    padding: .9rem 0;
    margin-top: 2rem;
    border-radius: .3rem;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.168);
}
#div3{
    background-color: var(--cyan-modified);
}
#div3 h3{
    color: var(--light-gray);
}