:root{
    /*Typography*/
    --typography_inter: 'Inter', sans-serif;
    --typography_lexend: 'Lexend Deca', sans-serif;

    /* Colors */
    /* Primary */
    --very_dark_blue: hsl(233, 47%, 7%); /* Main background */
    --dark_blue: hsl(244, 38%, 16%); /* Card Background */
    --soft_violet: hsl(277, 64%, 61%); /* accent */
    --soft_violet_mod: hsla(277, 86%, 36%, 0.434);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --transparent_white: hsla(0, 0%, 100%, 0.75);
    --very_transparent_white: hsla(0, 0%, 100%, 0.6);
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
img, picture{
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}
h1, p, span, a{
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}
body{
    position: relative;
    height: 100vh;
    font-size: 15px;
    background-color: var(--very_dark_blue);
}
.main{
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: var(--dark_blue);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .5em;
}
.main__sect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4.7em 6.9em 4em 4.9em;
}
.main__sect h1{
    font-family: var(--typography_inter);
    font-weight: 700;
    font-size: 2.420em;
    color: var(--white);
    width: 400px;
}
.main__sect h1 span{
    color: var(--soft_violet);
}
.main__p{
    font-family: var(--typography_inter);
    color: var(--very_transparent_white);
    width: 350px;
    line-height: 1.7em;
    margin: 1.6em 0 4.8em 0;
}
.main__sect ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}
.main__sect ul li p{
    font-family: var(--typography_inter);
    color: var(--white);
    font-size: 1.7em;
    font-weight: 700;
    margin-bottom: .1em;
}
.main__sect ul li span{
    text-transform: uppercase;
    font-family: var(--typography_lexend);
    color: var(--very_transparent_white);
    font-size: 13px;
    letter-spacing: 1px;
}
.main__pic{
    position: relative;
    width: max-content;
}
.main__pic img{
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
}
.main__pic div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    background-color: var(--soft_violet_mod);
}

@media screen and (max-width: 750px) {
    body{
        max-width: 750px;
        padding: 0 1em;
    }
    .main{
        position: relative;
        flex-direction: column-reverse;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        margin: 2em auto 0 auto;
        border-radius: .7em;
    }
    .main__sect{
        padding: 0;
        align-items: center;
        text-align: center;
    }
    .main__sect h1{
        width: auto;
        font-size: 1.8em;
        text-align: center;
    }
    .main__p{
        width: auto;
    }
    .main__sect ul{
        flex-direction: column;
        width: auto;
    }
    .main__pic{
        position: relative;
        width: 100%;
    }
    .main__pic img{
        border-top-right-radius: .7em;
        border-top-left-radius: .7em;
        border-bottom-right-radius: 0;
    }
    .main__pic div{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top-right-radius: .5em;
        border-bottom-right-radius: .5em;
        background-color: var(--soft_violet_mod);
    }
}