:root{
    /*Primary*/
    --light-red: hsl(0, 100%, 67%);
    --light-red-mod: hsla(0, 100%, 67%, 0.050);
    --orange-yellow: hsl(39, 100%, 56%);
    --orange-yellow0-mod: hsla(39, 100%, 56%, 0.050);
    --green-teal: hsl(166, 100%, 37%);
    --green-teal-mod: hsla(166, 100%, 37%, 0.050);
    --cobalt-blue: hsl(234, 85%, 45%);
    --cobalt-blue-mod: hsla(234, 85%, 45%, 0.050);

    /*Gradients*/
    /* background */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);

    /* circle */
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /*Neutral*/
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --light-lavender-mod: hsl(242, 89%, 93%);
    --light-gray: hsl(0, 0%, 58%);
    --light-lavender-mod: hsla(241, 100%, 89%, 0.513);
    --dark-gray-blue: hsl(224, 30%, 27%);
    --black: rgb(15, 15, 15);

    /*Typography*/
    --typography: 'Hanken Grotesk', sans-serif;
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
img, picture{
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}
a{
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
h1, p, span, a{
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}
p{
    font-size: 18px;
}
body{
    min-height: 100vh;
    font-size: 100%;
    background-color: var(--white);
    font-family: var(--typography);
    background-color: var(--white);
}

.main{
    background-color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 15px 40px 40px -10px var(--light-lavender-mod);
    border-radius: 1.5rem;
}
.main__sect{
    display: flex;
    flex-direction: row;
}
.main__sect--div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
    border-radius: 2rem;
    width: 23rem;
    padding: 2.4rem 3.2rem;
}
.main__sect--div__h1{
    color: var(--light-lavender);
    font-size: 23.2px;
    font-weight: 700;
}
.main__sect--div__div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:  linear-gradient(var(--violet-blue), var(--persian-blue));
    border-radius: 50%;
    width: 12.8rem;
    height: 12.8rem;
    margin: 2rem 0;
}
.main__sect--div__div p:first-child{
    color: var(--white);
    font-size: 4.350rem;
    font-weight: 800;
}
.main__sect--div__div p:last-child{
    color: var(--light-lavender-mod);
    font-size: 1.080rem;
}
.main__sect--div h2{
    color: var(--white);
    font-size: 32px;
    font-weight: 700;
    letter-spacing: .6px;
}
.main__sect--div__p-mod{
    color: var(--light-lavender);
    font-size: 18px;
    text-align: center;
    margin: 1rem 0;
}
.main__sect--div-mod{
    display: flex;
    flex-direction: column;
    width: 23.5rem;
    padding: 2.4rem;
}
.main__sect--div-mod h1{
    text-align: start;
    font-weight: 700;
    font-size: 23.2px;
    color: var(--dark-gray-blue);
}
.main__sect--div-mod ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 1rem 0 2rem 0;
}
.main__sect--div-mod ul li{
    display: flex;
    flex-direction: row;
    padding: .9rem 1rem;
    margin: .730rem 0;
    border-radius: .6rem;
}
.main__sect--div-mod ul li picture{
    width: 20px;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}
.main__sect--div-mod ul li:nth-child(1){
    background-color: var(--light-red-mod);
}
.main__sect--div-mod ul li:nth-child(2){
    background-color: var(--orange-yellow0-mod);
}
.main__sect--div-mod ul li:nth-child(3){
    background-color: var(--green-teal-mod);
}
.main__sect--div-mod ul li:nth-child(4){
    background-color: var(--cobalt-blue-mod);
}
.main__sect--div-mod ul li p{
    font-size: 18px;
    padding: 0 .5rem;
    font-weight: bold;
}
.main__sect--div-mod ul li:nth-child(1) p{
    color: var(--light-red);
}
.main__sect--div-mod ul li:nth-child(2) p{
    color: var(--orange-yellow);
}
.main__sect--div-mod ul li:nth-child(3) p{
    color: var(--green-teal);
}
.main__sect--div-mod ul li:nth-child(4) p{
    color: var(--cobalt-blue);
}
.main__sect--div-mod ul li div{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
    font-size: 18px;
}
.main__sect--div-mod ul li div span:first-child{
    color: var(--dark-gray-blue);
    font-weight: bold;
}
.main__sect--div-mod ul li div span:last-child{
    color: var(--light-gray);
    font-weight: bold;
}
.main__sect--div-mod button{
    background-color: var(--dark-gray-blue);
    width: 100%;
    padding: 1.1rem 4.2rem;
    border-radius: 2rem;
    color: var(--white);
    font-size: 18px;
}
.main__sect--div-mod button:hover{
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
    cursor: pointer;
}